.hero {

    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--overlay-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-480@1x.jpg);

    @include retina-bgi {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-480@2x.jpg);
    }

    @include tablet {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-768@1x.jpg);

        @include retina-bgi {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-768@2x.jpg);
        }
    }

    @include desktop {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero-1600@1x.jpg);

        @include retina-bgi {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero-1600@2x.jpg);
        }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-light-color);
    margin-bottom: 30px;

    @include tablet {
        width: 360px;
        margin-right: auto;
        margin-left: auto;

    }



    @include desktop {
        font-size: 44px;
        line-height: calc(60/44);
        margin-bottom: 30px;
        width: 696px;
    }
}

.hero-button {
    padding: 10px 24px;

    @include desktop {
        padding: 10px 32px;
    }
}