.team {
    @include section;
    background: var(--secondary-light-color);

    @include desktop {
        @include section(120px);
    }
}

.team__title {
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33/28);
    letter-spacing: 0.03em;
    text-align: center;

    @include desktop {
        font-size: 36px;
        line-height: calc(42/36);
        margin-bottom: 50px;
    }
}

.team__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.team__card {
    background-color: var(--primary-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__photo {
    width: 100%;
}

.team__member {
    padding: 30px 32px;
}

.team__name {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    text-align: center;
}

.team__profession {
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.team__socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team__socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-light-color);
    border-radius: 50%;
    outline: transparent;
    color: var(--clients-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-light-color);
        background-color: var(--accent-color);
    }
}

.team__socials-icon {
    fill: currentColor
}